html, body { margin:0; padding:0; overflow:hidden; height:100%; }

#app { height:100%; }

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}
.edgeLabel rect {
    fill: #fff;
}
.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.panel-body.record-table-content {
    padding: 0;
}
